.custom{
    margin-block-start: 3%;
    margin-block-end: 0%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.custom-form{
    margin-block-start: 1%;
    margin-block-end: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.my-img{
    width: 75% !important;
    margin-left: 16%;
}

body{
    background-color: aqua;
}
input, select, textarea,label{
    color: white;
}

h2{
    margin-block-start: 5%;
    color: #2a2a2a;
}
.middle{
    margin-top: 0%;
    background-color: black;
    width: 75% !important;
    margin-left: 13% !important;
    margin-block-start: 5%;
}

.heading{
    margin-top: 10%;
}

.booking-header{
    position: relative !important;
     background-color: black !important; 
     height: 4vh !important;
    min-height: 4rem !important;
    width: 100% !important;
    overflow: hidden !important;
}

.container-booking{
    background: antiquewhite !important;
}
body{
    background: antiquewhite !important;
}