.custom{
    margin-block-start: 3%;
    margin-block-end: 0%;
    margin-left: 1%;
    margin-right: 1%;
}

.middle{
   margin-left: 2%;
   margin-block-start: 3%;
    margin-block-end: 0%;
    margin-left: 11% !important;
    margin-right: 1%;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
   padding: 1rem 1rem;
   background-color: black;
   width: 75%;
}
label{
    color: white;
}
.custom {
    margin-block-start: 3%;
    margin-block-end: 0%;
    margin-right: 1%;
    padding: 2rem 2rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    
}

.heading{
    margin-top: 10%;
}

.booking-header{
    position: relative !important;
     background-color: black !important; 
     height: 4vh !important;
    min-height: 4rem !important;
    width: 100% !important;
    overflow: hidden !important;
}

.container-booking{
    background: antiquewhite !important;
}
body{
    background: antiquewhite !important;
}