.custom{
    margin-block-start: 3%;
    margin-block-end: 0%;
    margin-left: 1%;
    margin-right: 1%;
}

.heading{
    margin-top: 4%;
}

.middle{
    margin-left: 2%;
    margin-block-start: 3%;
     margin-block-end: 0%;
     margin-left: 11% !important;
     margin-right: 1%;
     box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 1rem 1rem;
    background-color: black;
    width: 75%;
 }

 .custom {
    margin-block-start: 3%;
    margin-block-end: 0%;
    margin-left: 10%;
    margin-right: 1%;
    padding: 2rem 2rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    
}

label{
    color: white;
}

.container-receipt{
    background:  rgb(68,137,148) !important;
}
body{
    background:  rgb(68,137,148) !important;
}
.custom-form {
    margin-block-start: 1%;
    margin-block-end: 1%;
    margin-left: 1%;
    margin-right: 1%;
}