
/* 1920 laptop monitor*/
@media (min-width: 1400px) and (max-width: 2300px) {
    
    /* home 1st part nav */
    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        font-size: 35px;
    }

    .logo_size {
    height: 94px;
    width: 114px;
}


}



/* 1366laptop monitor*/

@media (min-width: 1300px) and (max-width: 1400px) {


       
}


/* In middle */

@media (min-width: 1200px) and (max-width: 1299px) {
 
 

}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    

}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
     /* for NAv */
  .navbar-expand-lg .navbar-nav{
    flex-direction: column;
    /* flex-direction: row; */ /* for horizontal nav */
    }

}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
/* midea player button willbe half from here */
@media (min-width: 481px) and (max-width: 767px) {
  /* for NAv */
  .navbar-expand-lg .navbar-nav{
    flex-direction: column;
    /* flex-direction: row; */ /* for horizontal nav */
    }

}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
  /* for NAv */

  .navbar-expand-lg .navbar-nav{
    flex-direction: column;
    /* flex-direction: row; */ /* for horizontal nav */
}
    #logo_center { 
    justify-content: right; }
}
/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 320px) {


}    

/* ======================================================================code by dhrubo bhai===================================================== */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.overlay-left {
		position: absolute;
		top: 25%;
		max-width: 55%;
		z-index: 100;
    }
    
    .overlay-right {
		position: absolute;
		top: 15%;
		max-width: 55%;
		z-index: 100;
    }
    
    .gradient-color-right {
        position: absolute;
        top: 0%;
        right: 0;
        width: 51%;
        height: 61%;
        z-index: 100;
    }
    
    .gradient-color-left {
        position: absolute;
        top: 19%;
        left: 0;
        width: 51%;
        height: 61%;
        z-index: 100;
    }
    .content {
      min-height: 100vh !important;
      flex-wrap: nowrap !important;
    }
    .content-two {
      min-height: 100vh !important;
      flex-wrap: nowrap !important;
    }
    h2{
      font-size: 4.8rem;
    }
    h2 p{
      font-size: 20px;
      font-family: 'Yanone Kaffeesatz', sans-serif !important;
    
    }
    
      .myImg {
        padding-block-start: 1%;
        max-width: 56%;
      }

        /* ============================================positioning the container-fluid div ================================================================== */

     

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.overlay-left {
		position: absolute;
		top: 35%;
		max-width: 60%;
		z-index: 100;
    }
    
    .overlay-right {
		position: absolute;
		top: 35%;
		max-width: 60%;
		z-index: 100;
    }
    
    .gradient-color-right {
        position: absolute;
        top: 0%;
        right: 0;
        width: 50%;
        height: 69%;
        z-index: 100;
    }
    
    .gradient-color-left {
        position: absolute;
        top: 0%;
        left: 0;
        width: 50%;
        height: 69%;
        z-index: 100;
    }
    .offset-button {
      margin-left: 37%;
    }
    /* ============================================positioning the container-fluid div ================================================================== */
    
}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.overlay-left {
		position: absolute;
		top: 44%;
		max-width: 70%;
		z-index: 100;
    }
    
    .overlay-right {
		position: absolute;
		top: 44%;
		max-width: 70%;
		z-index: 100;
    }
    
    .gradient-color-right {
        position: absolute;
        top: 0%;
        right: 0;
        width: 48%;
        height: 75%;
        z-index: 100;
    }
    
    .gradient-color-left {
        position: absolute;
        top: 0%;
        left: 0;
        width: 48%;
        height: 75%;
        z-index: 100;
    }

    /* ============================================positioning the container-fluid div ================================================================== */
     
      .myImg {
        padding-block-start: 1%;
        max-width: 50%;
      }
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.overlay-left {
		position: absolute;
		top: 12%;
		max-width: 50%;
		z-index: 100;
    }
    
    .overlay-right {
		position: absolute;
		top: 30%;
		max-width: 50%;
		z-index: 100;
    }

    .gradient-color-right {
        position: absolute;
        top: 0%;
        right: 0;
        width: 48%;
        height: 75%;
        z-index: 100;
    }
    
    .gradient-color-left {
        position: absolute;
        top: 0%;
        left: 0;
        width: 48%;
        height: 75%;
        z-index: 100;
    }
    h2{
      font-size: 7.8rem !important;
    }
    h2 p{
      font-size: 20px;
      font-family: 'Yanone Kaffeesatz', sans-serif !important;
    
    }
    .myImg {
      padding-block-start: 1%;
      max-width: 80%;
    }

    div h2{
      /* margin-top: 0px;
      margin-bottom: 88px; */
      top: 0%;
    }

    /* ============================================positioning the container-fluid div ================================================================== */
      .first {
        top: 150% !important;
        position: absolute !important;
      }
      .second {
        top: 300% !important;
        position: absolute !important;
      }

      .third {
        top: 450% !important;
        position: absolute !important;
      }

      .fourth {
        top: 600% !important;
        position: absolute !important;
      }
     

}

