body{
  background-color:#2b2b2b !important; 
  color: #f8fafc !important;
}
section {
    background: #fff;
    overflow: hidden;
}


/* =========================================
                Preloader
============================================ */

#preloader {
    background-color:   #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

}

#status {
    background-image: url("../image/preloader/loading.gif");
     background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left:50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
/* =========================================
                Home
============================================ */


/* =========================================
                1st part
============================================ */

header {
  position: relative;
  /* background-color: black; */
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: -2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 1;
}
.navDiv {       /* for showing nav over the video */
  position: absolute;
  z-index: 1000;
  right: 0;
   
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    /* color: #d6f202; */ /*color for brocoli */
    
    color: #778c87;
    font-size: 21px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 390;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    right: 0;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    /* color: #97aa03; */ /*color for brocoli */
    color: #8e1805;
    font-size: 23px;
    -webkit-transition: font-size .3s; /* Safari */
     transition: font-size .3s;
}
.navbar-expand-lg .navbar-nav{
    flex-direction: column;
    /* flex-direction: row; */ /* for horizontal nav */
}
.navbar-light .navbar-toggler{
    /* border-color:#d6f202; */  /*color for brocoli */
      border-color: #8e1805;
}

/* ================================code by dhrubo bhai===================================================== */

.myImg{
  padding-block-start: 1%;
  
}
.right-image{
  /* max-width: 800px;
  width: 55%;
  right: 0; */
  padding-block-end: 1%;
  padding-block-start: 1%;
}
.left-image{
  /* max-width: 800px;
  width: 55%;
  left: 0; */
  padding-block-end: 1%;
  padding-block-start: 1%;;
}

.second{
  top: 160%;
}

.third{
  top: 270%
}

.last{
  top: 700%;
}

#reverse{
  flex-wrap: wrap-reverse;
}

#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background: #f1e2e0;
  height: 30%;
  top: 440%;
  margin-left: 0;
}
#location{
  border-radius:50%; 
  right:0;
}
