
section {
    background: #fff;
    overflow: hidden;
}


/* =========================================
                Preloader
============================================ */

#preloader {
    background-color:   #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

}

#status {
    background-image: url("../image/preloader/loading.gif");
     background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left:50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
/* =========================================
                Home
============================================ */


/* =========================================
                1st part
============================================ */

header {
  position: relative;
  /* background-color: black; */
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: -2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.5;
  z-index: 1;
}
.Div {       /* for showing div over the video */
  position: absolute;
  z-index: 1000;
  right: 0;
  width: 100%;
   
}
.fixedElement {
    
    position:relative;
    top:0;
    z-index:2000;
}

/* .logo_back{
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 586px;
  width: 1366px;
  height: 100px;
}
 */
#logo_center { 
  display: flex; 
  justify-content: center; }

.logo_size{
  height: 75px;
  width: 97px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    /* color: #d6f202; */ /*color for brocoli */
    
    color: #d6f202;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 390;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    right: 0;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    /* color: #97aa03; */ /*color for brocoli */
     color: #97aa03; 
    font-size: 23px;
    -webkit-transition: font-size .3s; /* Safari */
     transition: font-size .3s;
}
.navbar-expand-lg .navbar-nav{
    /* flex-direction: column; */
   /*  flex-direction: row; */ /* for horizontal nav */
}
.navbar-light .navbar-toggler{
    /* border-color:#d6f202; */  /*color for brocoli */
      border-color: #8e1805;
}

/* ======================================================================code by dhrubo bhai===================================================== */


.myImg {
	padding-block-start: 1%;
	max-width: 60%;
}

.genre {
	margin-block-end: 5%;
}

.content {
	min-height: 100vh !important;
	flex-wrap: wrap-reverse !important;
}

.content-two {
	min-height: 100vh !important;
	flex-wrap: wrap !important;
}
/* ============================================positioning the container-fluid div ================================================================== */
.first {
	top: 150% !important;
	position: absolute !important;
}
.second {
	top: 300% !important;
	position: absolute !important;
}

.third {
	top: 450% !important;
	position: absolute !important;
}

.fourth {
	top: 600% !important;
	position: absolute !important;
}
 .fifth{
    top: 750% !important;
    position: absolute !important;
    }
/* ============================================positioning the container-fluid div ================================================================== */

#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background: #f1e2e0;
	height: 30%;
	top: 440%;
	margin-left: 0;
}
#location {
	border-radius: 50%;
}

/*============================================================FLOATING IMAGES =========================================================================*/

.overlay-right {
	position: absolute;
	top: 3%;
	right: 0;
	z-index: 200;
	
}

.overlay-left {
	position: absolute;
	top: 8%;
	left: 0;
	z-index: 200;
}

.gradient-color-right {
	  position: absolute;
	  top: -15%;
    right: 0;
    width: 75%;
    height: 32.5%;
	z-index: 100;
}

.gradient-color-left {
    position: absolute;
     top: -3%;
    left: 0;
    width: 75%;
    height: 34.5%;
	  z-index: 100;
}
div p{
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;

}

h2{
  font-size: 4.1rem;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;

}
.continental-h2{
  color: #83c083;
}
.continental-p{
  color: #83c983;

}
/* ........................GAllery............................................ */
.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

/* .gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}
 */
.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}


/* ===================================================================Buttons============================================================================ */

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 8.5px;
	color: #2b2b2b;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #83a6c9;               /*when box fills up the text color */
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 8.5px;
	color: #83c983;       /* text color normal */
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button.victoria-four {
	border: 2px solid #83c9c9;
}
a.animated-button.victoria-four:after {
	background: #83c9c9;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}